.cont {
	background: linear-gradient(39.97deg, #37e666 0.79%,#1bccb1 79.29%);  
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;   
	padding-right: 25px;

}	
.cont1 {
	display: flex;
	flex-direction: row;  
	align-items: center;
	justify-content: center;
	padding-top: 30px; 
	overflow: auto;
}

.heads{
	display: block;

	font-family: Roboto; 
	padding-top: 30px;

	text-align: center;
	font-size: 40px; 
	color: #fff;
}
.heads:hover{
	color: black;
}
.cart{ 
	margin-left: 50px; 
	margin-top: 10px;
	
	width: 150px; 
    box-shadow: 1px 10px 32px rgba(0, 0, 0, 0.45); 
    border-radius: 10px;
    position: relative;  
    background:#fff ;
} 
.cart img{
	padding: 10px;
}
.cart h3{
	text-align: center;
}

.im{
	height: 100px;
	width: 100px;
}

