.home-container {
    background: linear-gradient(39.97deg, #37e666 0.79%,#1bccb1 79.29%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
    padding: 10px 10%; 
    position: absolute;
   left: 0px; 
   top: 0px;
    box-sizing: border-box; 
    width: 100%;
   
}

.header-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-text > h1 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5em;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #fff;
    margin: 10px; 
    background: green; 
    border-radius: 5px;
}

 h1:hover{ 
	color: black; 
	font-size: 50px;
	transition: all 0.3s ease-in-out;
}
.header-text > h2 {
    font-family: Poppins;
    font-style: normal;
    font-weight: 900;
    font-size: 2em;
    line-height: 62px;
    text-align: center;
    letter-spacing: 0.2px;
    color:#fff;
    margin: 10px;
}
.header-text > p {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #e5e5e5;
    margin: 10px;
}

.head-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 35px 10px;
}

.btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 36px;
    height: 52px;
    left: 0;
    top: 0px;
    text-decoration: none;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    border-radius: 39px;
    margin: 4px;
}

.btn-white {
    background: #fff;
    color: #112d57;
}

.btn-transparent {
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #fff;
    background: #0eb049;
}

.btn:hover {
    box-shadow: 1px 10px 32px rgba(0, 0, 0, 0.45);
    transition: all 0.3s ease-in-out;
}

.btn-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.2px;
    text-align: center;
}



@media only screen and (max-height: 550px) {
    .home-anime {
        width: 300px;
    }
}
@media only screen and (max-width: 640px) {
	.home-container {
		width: 100vw;
		height: 100vh;
	}
    .home-anime {
        width: 80%;
        align-self: center;
        margin-bottom: -20px;
    }

    .head-btns {
        margin: 10px 10px 35px 10px;
    }
}
