.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 36px;
    left: 20px;
    top: 25px;
}

/* Color to our burger */
.bm-burger-bars {
    background: #373a47;
}

/* Color to our burger icon on hover */
.bm-burger-bars-hover {
    background: #000;
}

/* Size of the cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color of cross button */
.bm-cross {
    background: #fff;
}

/* Sidebar wrapper styles */
.bm-menu-wrap {
    position: fixed; 
    left: 0px;
    top: 0px;
    height: 100vh;
    overflow-x: hidden;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
}

.bm-menu {
    background: linear-gradient(39.97deg, #1df56c 0.79%, #55f2db 79.29%);
    padding: 2.5em 1.5em 0 0;
    height: 100vh;
    overflow: hidden !important;
}

.bm-item-list {
    padding: 0.8em;
}
.menu-item {
    position: relative;
    font-size: 1.5em;
    text-decoration: none;
    color: #fff;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    padding: 10px;
}

.menu-item:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: #fff;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
.menu-item:hover{
    color :black;
}

.active-item {
    font-weight: 500;
}

.menu-item:hover:before,
.active-item:before {
    visibility: visible;
    height: 3px; 
    color :black;
}
